art==4.4
ascii-graph==1.5.1
astroid==2.3.3
autopep8==1.5
certifi==2018.8.24
chardet==3.0.4
coverage==5.0.3
demoji==0.1.5
dnspython==1.16.0
emoji==0.5.4
idna==2.7
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.15.1
oauthlib==2.1.0
Pillow==9.0.1
pycodestyle==2.5.0
pylint==2.4.4
pymongo==3.10.0
PySocks==1.6.8
python-dateutil==2.8.1
python-dotenv==0.11.0
PyYAML==5.3
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
tqdm==4.25.0
tweepy==3.7.0
typed-ast==1.4.1
upsidedown==0.4
urllib3==1.23
wrapt==1.11.2
